@font-face {
  font-family: inter;
  src: url(/src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --orange: hsl(35, 77%, 62%);
  --red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish: hsl(233, 8%, 79%);
  --grey-blue: hsl(236, 13%, 42%);
  --dark-blue: hsl(240, 100%, 5%);
}

body {
  background-color: var(--off-white) !important;
}

.text-off-white {
  color: var(--off-white) !important;
}

.text-orange {
  color: var(--orange) !important;
}

.text-red {
  color: var(--red) !important;
}

.bg-blue {
  background-color: var(--dark-blue) !important;
}

.text-grey-blue {
  color: var(--grey-blue) !important;
}

.text-color-dark-blue {
  color: var(--dark-blue) !important;
}

* {
  font-family: inter, sans-serif;
  box-sizing: border-box;
}

p {
  font-size: 15px;
}

h1 {
  font-weight: 900;
  font-size: 2.9rem;
  line-height: 1.1;
  letter-spacing: -0.01rem;
}

h2 {
  font-weight: 600;
  font-size: 2.4rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  font-weight: 1rem;
  letter-spacing: -0.02rem;
  font-weight: 700;
}

.button-primary {
  background-color: var(--red);
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  font-size: 0.925rem;
  padding: 10px 25px;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-primary:hover {
  background-color: var(--dark-blue);
  color: white;
}
