//Colors

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$dark-blue: hsl(220, 13%, 13%);
$dark-grey-blue: hsl(219, 9%, 45%);
$grey-blue: hsl(220, 14%, 75%);
$light-grey-blue: hsl(223, 64%, 98%);

//transition
@mixin transition {
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
