body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
}

:root {
  --green1: hsl(148, 38%, 91%);
  --green2: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --grey1: hsl(186, 15%, 59%);
  --grey2: hsl(187, 24%, 22%);
}

@font-face {
  font-family: karla;
  src: url(./assets/fonts/Karla-VariableFont_wght.ttf);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
* {
  font-family: karla;
  box-sizing: border-box;
}

.text-grey1 {
  color: var(--grey1);
}

.text-grey2 {
  color: var(--grey2);
}

.text-error {
  color: var(--red);
}

.text-green {
  color: var(--green2);
}
.bg-notification {
  background-color: var(--grey2);
  border-radius: 12px;
}

body {
  background-color: var(--green1);
}

.bg-green {
  background-color: var(--green2);
}

.required:after {
  content: " *";
  color: var(--green2);
}

main {
  position: relative;
}
small .notification {
  position: absolute;
  top: 60px;
  align-self: center;
}

.button {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

input:hover {
  border-color: var(--green2);
}

input[type="radio"]:checked,
.radio-label:checked {
}
