body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
}

:root {
  --green1: hsl(148, 38%, 91%);
  --green2: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --grey1: hsl(186, 15%, 59%);
  --grey2: hsl(187, 24%, 22%);
}

@font-face {
  font-family: karla;
  src: url(./assets/fonts/Karla-VariableFont_wght.ttf);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
* {
  font-family: karla;
  box-sizing: border-box;
}

.text-grey1 {
  color: var(--grey1);
}

.text-grey2 {
  color: var(--grey2);
}

.text-error {
  color: var(--red);
}

.text-green {
  color: var(--green2);
}
.bg-notification {
  background-color: var(--grey2);
  border-radius: 12px;
}

body {
  background-color: var(--green1);
}

.bg-green {
  background-color: var(--green2);
}

.required {
  color: var(--grey2);
}

.required:after {
  content: " *";
  color: var(--green2);
}

main {
  position: relative;
}
.notification {
  position: absolute;
  top: 60px;
  align-self: center;
}

.button {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

input:hover,
label:hover {
  border-color: var(--green2) !important;
}

.bordered {
  border: 1px solid var(--grey2);
}

input,
textarea {
  border-color: var(--grey2) !important;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="email"]:focus,
input[type="email"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
textarea:focus,
textarea:active,
label:focus {
  outline-width: 0 !important;
  box-shadow: none !important;
  border-color: var(--green2) !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

input[type="checkbox"] {
  border-radius: 0 !important;
}

input[type="checkbox"]:checked {
  accent-color: var(--green2);
}

input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  border-color: var(--green2) !important;
  outline: 1px solid var(--green2);
}

input[type="radio"]:checked {
  /* outline-color: var(--green2) !important; */
  /* box-shadow: none !important; */
  background-color: green;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--green2);
  background-color: white !important;
  position: relative;
}

input[type="radio"]:checked::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  border-radius: 10px;
  background-color: var(--green2);
}

.selected-label {
  background-color: var(--green1) !important;
  border: 1px solid var(--green2) !important;
}

.radio-label {
  padding: 8px 12px;
}
