.image-large {
  width: 452px;
  height: 452px;
  padding: 0;

  img {
    border-radius: 15px;
    width: 100%;
  }

  @media only screen and (max-width: 992px) {
    & {
      position: relative;
      width: 600px;
      height: 600px;
      border-radius: 0;
      img {
        border-radius: 0;
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    & {
      margin-left: -27.5px;
      width: 375px;
      height: 375px;
      img {
        border-radius: 0;
        width: 100%;
      }
    }
  }
}
