#product-description {
  @include halfScreen;
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    margin-top: 20px;
  }

  button {
    @include button-reset;
  }

  .price {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;

    & > .bold {
      margin-right: 15px;
    }

    .discount {
      background-color: $dark-blue;
      padding: 3px 10px;
      border-radius: 5px;
      color: white;
    }
  }

  small.strike-off {
    color: $dark-grey-blue;
    font-size: 16px;
  }

  .body-text {
    margin-top: 35px;
  }
  .input-container {
    margin-top: 40px;
    display: flex;
    height: 52px;
    position: relative;

    .number-input {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;
      background-color: $light-grey-blue;

      button {
        padding: 20px 15px;
        display: flex;
      }
      button img {
        @include transition;
        pointer-events: none;
      }

      button:hover img {
        filter: opacity(0.6);
      }

      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
        background-color: $light-grey-blue;
        border: none;
        width: 45px;
        height: 30px;
        display: flex;
        text-align: center;
        padding: 0;
        color: $dark-blue;
        margin: 0 auto;
      }
    }

    button[type="submit"] {
      @include primary-button;
      border-radius: 10px;
      margin-left: 15px;
      height: 100%;
      padding: 0 96px;
      img {
        margin-right: 15px;
        width: 18px;
        filter: brightness(0.25);
      }
    }
  }

  .error-message {
    position: absolute;
    bottom: -31px;
    color: red;
  }

  @media only screen and (max-width: 992px) {
    margin-bottom: 120px;
    width: 100%;
    padding: 0;
    margin-top: 30px;
    p {
      width: 100%;
    }
    .price-container {
      display: flex;
      align-items: center;
      .strike-off {
        margin: 25px 0 10px auto;
      }
    }
    .input-container {
      flex-direction: column;
      height: fit-content;
      gap: 15px;
    }

    .number-input {
      height: 52px !important;
      width: 100%;
      margin: 0;
    }

    button[type="submit"] {
      margin-left: 0 !important;
      height: 52px !important;
      width: 100%;
      box-shadow: 0 10px 30px -15px rgba(255, 125, 26, 1);
    }
  }
}
