:root {
  --bg-blue: hsl(228, 11%, 9%);
  --container-bg: hsl(215, 25%, 13%);
  --interaction-bg: hsl(213, 19%, 18%);
  --selected: hsl(25, 97%, 53%);
  --text-dark: #1a1a1a;
  --text-white: white;
  --text-muted: hsl(217, 12%, 63%);
}

body {
  padding: 0;
  margin: 0;
  background-color: #141519;
}

#root {
  font-family: "Overpass", sans-serif;
  color: var(--text-white);
  height: 100vh;
  padding: 0;
}

p {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.015rem;
  margin: 0;
}

.text-dark {
  color: var(--text-dark);
}

.text-muted {
  color: var(--text-muted);
}

.text-warning {
  color: red;
}

.text-center {
  text-align: center;
}

main,
.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container {
  width: 320px;
  text-align: left;
  padding: 30px;
  background: radial-gradient(
    farthest-corner at 50% 25%,
    #222933 0%,
    var(--container-bg) 100%
  );
  border-radius: 30px;
}

.interaction-bg {
  background-color: var(--interaction-bg);
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 45px;
  border-radius: 50%;
}

button {
  width: 100%;
  border-radius: 300px;
  padding: 12px 0;
  letter-spacing: 1px;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  background-color: var(--selected);
  color: var(--text-dark);
  font-weight: 700;
  border: none;
}
#rating h2 {
  margin-top: 30px;
  margin-bottom: 16px;
  font-size: 1.725rem;
}

button:hover {
  background-color: white;
  color: var(--text-dark);
  font-weight: 700;
}

.rating-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 24px;
  position: relative;
}

.rating-container .interaction-bg {
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.rating-container .interaction-bg:hover {
  background-color: var(--selected);
  color: var(--text-dark);
  font-weight: 700;
}

.rating-container label {
  z-index: 10;
  padding-top: 5px;
}

.rating-container .interaction-bg:hover input[type="radio"]:after {
  background-color: var(--selected);
  color: var(--text-dark);
  font-weight: 700;
}

label {
  position: relative;
}

input[type="radio"] {
  cursor: pointer;
  position: absolute;
  left: 16px;
  right: 16px;
  top: 16px;
  bottom: 16px;
  z-index: -1;
}

input[type="radio"]:after {
  width: 13px;
  height: 13px;
  top: -3px;
  left: -5px;
  position: relative;
  background-color: var(--interaction-bg);
  /* background-color: pink; */
  content: "";
  display: inline-block;
  visibility: visible;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

input[type="radio"]:checked:after {
  width: 13px;
  height: 13px;
  top: -3px;
  left: -5px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
}

fieldset {
  border: none;
  padding: 0;
}

.active,
.active input[type="radio"]:after {
  background-color: white;
  color: var(--text-dark);
  font-weight: 700;
}

.rating-pill {
  border-radius: 100px;
  background-color: var(--interaction-bg);
  color: var(--selected);
  padding: 8px 30px;
  text-align: center;
  width: fit-content;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }
  .container {
    width: 250px;
  }

  .interaction-bg {
    width: 38px;
    height: 38px;
  }
}
